{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
<div class="index_page row">
  <div class="col-md-1"></div>
  <div class="business_loop col-md-10">
    <div class="area_business col-md-12">
      <!--add business form-->
      <div class="card formbuss col-md-2 p-0 m-1">
        <div class="card-image">
          <a href="{% url 'add_business' %}">
            <p class="adder text-center">&plus;</p>
            <p class="text-center">Add A Business</p>
          </a>
        </div>
      </div>
      <!--End of business-->
      <!--Business loops-->
      {% if businesses %}
      {% for business in businesses%}
      <div class="card buss_card col-md-3 p-0 m-1">
        <div class="card-image" style="background-image: url('../../static/images/shop.jpg'); 
                                      height: 100%;
                                      background-position: center;
                                      background-size: contain;
                                      ">
          <div class="card-footer">
            <h3>{{business.name}}</h3>
            <h5>{{business.email}}</h5>
            <h6>{{business.location_or_description}}</h6>
          </div>
        </div>
      </div>
      {%endfor%}
      {%else%}
      <h3 class="text_center">No Businesses Added</h3>
      {%endif%}
      <!--End of business loops-->
    </div>
    <div class="content_bd col-md-12">
      <div class="col-md-3 lefter"></div>
      <div class="col-md-5 middler p-2">
        <!--Add post Form-->
        <div class="add_post_form">
          <h5>Create Post:</h5>
          <form action="{% url 'add_post' %}" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            {% for message in messages %}
            <div class="alert-info">{{message}}</div>
            {%endfor%}
            {% for error in form.errors%}
            <div class="alert-danger">{{error}}</div>
            {%endfor%}

            <p class="description">{{form.description}}</p>
            <p class="title">{{form.title}}</p>
            <p class="image">{{form.post_image}}</p>

            <button class="btn btn-default" type="submit">Post</button>
          </form>
        </div>
        <!--End of add post form-->
        <!--start of post loops-->
        {%if posts%}
        {% for post in posts %}
        <div class="post_loop m-3">
          <div class="title">
            <span class="post_image"><img src="{{post.poster.photo_path}}" alt="" width="30" height="30px"></span>
            <span class="bold">{{post.poster.user.username}}</span><span class="ml-auto">{%if post.date_created%}{{post.date_created|timesince}}{%endif%}</span>
            <hr>
            <div class="post_image" style="background-image: url('{{post.post_image.url}}');
                                          height: 250px;
                                          width: 100%;">

            </div>
            <p class="bold">{{post.title}}</p>
            <h6 class="post_desc">{{post.description}}</h6>
          </div>
          <div class="tags d-flex flex-row"></div>
          <p class="m-0">Tags:</p>
          <h6 class="bold badge badge-warning">{{post.poster.hood.name}}</h6>
          <h6 class="bold badge badge-warning">{{post.title|truncatechars:9}}</h6>
        </div>
        {%endfor%}
        {%else%}
        <p class="text-center">No Posts Added</p>
        {%endif%}
        <!--end of post loop-->
      </div>
      <div class="col-md-3 righter"></div>

    </div>
  </div>
  <div class="col-md-1"></div>
</div>

{%endblock%}