{% extends 'base.html'%}

{% load static %}
{% load bootstrap3 %}
{% block content %}
<div class="col-md-12">
  <div class="col-md-3 left_profile">
    {% if not user_profile %}
    <div class="prof_image" style="background-image: url('{% static 'images/human-avatar-profle.png' %}');
               background-position: center;
               background-size: contain;
               background-repeat:no-repeat;">
    </div>
    {%else%}
    <div class="prof_image" style="background-image: url('{{user_profile.photo_path.url}}');
               background-position: center;
               background-size: contain;
               background-repeat:no-repeat;">
    </div>

    {%endif%}
    <p>{{request.user.first_name}}-{{request.user.last_name}}</p>
    <!--if it is the owner, edit profile, else, follow-->
    {%if user_profile %}
    {% if request.user.id == user_profile.user.id%}
    <strong>
      <button type="button" class="btn btn-default m-2" data-toggle="modal" data-target="#addprofileModalLong"
        class="edit_profile">
        Edit Profile
      </button>
    </strong>
    {%endif%}
    {%else%}
    <strong>
      <button type="button" class="btn btn-default m-5" data-toggle="modal" data-target="#addprofileModalLong"
        class="edit_profile">
        Add Profile
      </button>
    </strong>
    {%endif%}
    <div class="redir m-3">
      <a href="#profile" class="btn btn-warning redirect_btn col-md-8">
        <p class="badge badge-success p-auto">Dashboard</p>
      </a>

      <a href="" class="btn btn-warning redirect_btn col-md-10" data-toggle="modal" data-target="#changehood">
        <p class="badge badge-success p-auto">
          {{user_profile.hood.name}}--Change Area
        </p>
      </a>
      <a href="/" class="btn btn-warning redirect_btn col-md-8">
        <p class="badge badge-success p-auto">Home</p>
      </a>

    </div>

    <a href="{% url 'logout' %}" class="border border-warning redirect_btn p-2">
      <p>Logout</p>
    </a>



  </div>
  <div class="col-md-9 right_profile">
    <div class="col-md-12 title_profile">
      {% for message in messages%}
      <div class="alert alert-danger">
        {{message}}
      </div>
      {%endfor%}
      <div class="col-md-8">
        <h3>Hood Alert - {{request.user.username}}</h3>
        <i>{% if user_profile %} {{user_profile.about}} {%else%} 'No About Added'{%endif%}</i>
      </div>
      <div class="col-md-3 d-flex flex-row">
        <a href="#" class="btn btn-warning redirect_btn col-md-8">
          <p class="badge badge-success p-auto">Settings</p>
        </a>

        <a href="/"><button class="btn btn-default">Home</button></a>

      </div>
    </div>
    <div class="col-md-12 main_page">
      <div class="col-md-12 playlist">

        
        {% if posts%}
        {% if user_profile %}
        {% for post in posts %}
        <div class="card">
          <div class="card-image">
            <img src="{{post.post_image.url}}" alt="post image" style="width: 100%;">
          </div>
          <div class="card-body">
            <p class="card-title">{{post.title}}</p>
            <p class="card-text">{{post.description}}</p>
          </div>
          <div class="card-footer">
            <p class="badge badge-light">{{post.poster}}</p>
            <p>{{post.date_created|timesince}}</p>
          </div>
        </div>
        {%endfor%}
        {%else%}
        <p class="text-center">Add Your Profile to Proceed</p>

        {%endif%}
        {%else%}
        <h5 class="text-center">No Posts Created</h5>
        {%endif%}

      </div>
    </div>

  </div>
</div>
{% block footer %}

{%endblock%}
<!--Modal Window-->
<!-- Modal -->
<div class="modal fade" id="addprofileModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">Update Profile</h5><img
          src="{%if user_profile %}{{user_profile.photo_path.url}}{%endif%}" alt="profile" width="30px" height="30px">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% for message in messages%}
      <div class="alert alert-warning">
        {{message}}
      </div>
      {%endfor%}
      <form action="{% url 'change_hood' %}" method="POST" enctype="multipart/form-data" class="p-4">
        {%csrf_token%}
        <h3 class="text-center">Add Profile:</h3>
        {% for message in messages %}
        <div class="alert-info">{{message}}</div>
        {%endfor%}
        {{form.errors}}
        {% for error in form.errors%}
        <div class="alert-danger">{{error.label}}</div>
        {%endfor%}
        <hr>
        <h5 class="text-left">{{form.photo_path.label}}:</h5>
        <p>{{form.photo_path}}</p>
        <h5 class="text-left">{{form.about.label}}:</h5>
        <p>{{form.about}}</p>
        <h5 class="text-left">{{form.hood.label}}:</h5>
        <p>{{form.hood}}</p>
        <h5 class="text-left">{{form.location_description.label}}:</h5>
        <p>{{form.location_description}}</p>

        <button type="submit" class="btn btn-default">Save Changes</button>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="close btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-outline-success">Save changes</button>
    </div>
    </form>
  </div>
</div>
<!--End of modal window-->
<!-- change hood modal-->
<div class="modal fade" id="changehood" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">Update Profile</h5><img
          src="{%if user_profile %}{{user_profile.photo_path.url}}{%endif%}" alt="profile" width="30px" height="30px">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% for message in messages%}
      <div class="alert alert-warning">
        {{message}}
      </div>
      {%endfor%}
      <form action="{% url 'change_hood' %}" method="POST" class="p-4">
        {%csrf_token%}
        <h3 class="text-center">Update Neighbourhood:</h3>
        <h6 class="text-center">Select from Drop-dowm</h6>
        <h6 class="text-center"> <i> If your neighborhood does not exist, let our admin know to update </i></h6>
        <a
          href="mailto:calemasanga@gmail.com?cc = ''&bcc=caleb.odinga@student.moringaschool.com&subject=New%20Neighbourhood&to&add">Email
          Admin</a>
        {% for message in messages %}
        <div class="alert-info">{{message}}</div>
        {%endfor%}
        {% for error in form.errors%}
        <div class="alert-danger">{{error}}</div>
        {%endfor%}
        <hr>
        {% if hoods %}
        {% for hood in hoods%}
        <p class="bold">{{hood.name}}
          <input type="radio" name="hood_name" id="hood_name" value="{{hood.id}}">
        </p>
        {%endfor%}
        {%else%}
        <p class="text-center">No Neighbourhoods to select</p>
        {%endif%}
        <br>
        <button type="submit" class="btn btn-default">Save Changes</button>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="close btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-outline-success">Save changes</button>
    </div>
    </form>
  </div>
</div>

{%endblock%}