/* css contant variables */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat:wght@400&display=swap');
/*font-family: 'Dancing Script', cursive;
font-family: 'Montserrat', sans-serif;*/

/* Color Theme Swatches in RGBA */
:root{
--blue:rgba(3,137,201, .5);  
--light_blue: rgba(96, 152, 165, 1);
--backg:rgba(105, 193, 211, 0.1);
--light_yellow: rgba(242, 204, 133, 1);
--yellow : rgba(242, 153, 75, 1);
--bright : rgba(216, 84, 84, 1);
--less_bright: rgba(242, 135, 135, 1);
}
*{
  box-sizing: border-box;
}
/*styling navbar */
.navbar-brand{
  font-size: 2em;
  font-weight: 400;
  font-family: 'Dancing Script', cursive;
}
body{
  background-color: var(--backg) ;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;

}
h5,h4, .bold{
  font-weight: bold;
}
.navbar{
  background-color: var(--blue);
  color: white;
  font-weight: 600;
  font-size: 1.2em;
}
.navbar>form{
  color: black;
  font-size: .8em;
}
.search_form{
  background-color: white;
  height: 30px;
  border-radius: 3px;
  padding: 2px;
}
.search_form>input{
  border-width: 0px 0px 1px 0px;
  background-color: rgba(255, 255, 255, 0);
  width: 120px;
}
.search_form>input:focus{
  border-width: 0px 0px 1px 0px;
  background-color: rgba(255, 255, 255, 0);
  width: 120px;
}
.search_form>button{
  background-color: rgba(255, 255, 255, 0);
  border: 0;
}
/*styling index */
.buss_card{
  height: 200px;
  background-image: url('../images/shop.jpg');
  background-position: center;
  background-size: contain;
  min-width: 180px;
}
.adder{
  font-size: 4em;
  border-bottom: 1px solid white;
  padding: 0;
}
.card-footer{
  background-color: rgba(242, 153, 75, .6);
  backdrop-filter: blur(4px);
  color: white;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  
}
.area_business{
  height: auto;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.formbuss{
  background-color: var(--blue);
  color: white;
  min-width: 160px;
}
.desc_input{
  width: 99%;
  min-height: 20px;
  height: auto;
  max-height: 60px;
  border-radius: 5px;
}
.add_post_form, .post_loop{
  background-color: rgba(255, 255, 255, .8);
  padding: 15px;
  border-radius: 8px;
  border: 2px solid white;
  box-shadow: 1px 1px 10px 1px var(--backg);
}
span.post_image>img{
  border: 2px solid var(--backg);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.post_desc{
  min-height: 20px;
  height: auto;
  max-height: 40px;
}
/* style footer */
.footer{
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.footer>img{
  width: 50px;  
  border-radius: 50%;
  border: 2px solid white;
  background-color: white;
}
.footer>img:first-child:hover{
  border: 2px solid rgb(0, 0, 255);
  background-color: rgb(0, 0, 255);
  box-shadow: 1px 1px 4px 3px rgb(0, 0, 255);
}
.footer>img:nth-child(2):hover{
  border: 2px solid rgb(29,156,234);
  background-color: rgb(29,156,234);
  box-shadow: 1px 1px 4px 3px rgb(29,156,234);
}
.footer>img:nth-child(3):hover{
  border: 2px solid rgb(188,93,179);
  background-color: rgb(188,93,179);
  box-shadow: 1px 1px 4px 3px rgb(188,93,179);
}
.footer>img:nth-child(4):hover{
  border: 2px solid rgb(234,76,137);
  background-color: rgb(234,76,137);
  box-shadow: 1px 1px 4px 3px rgb(234,76,137);
}
.footer>img:nth-child(5):hover{
  border: 2px solid rgb(5,62,255);
  background-color: rgb(5,62,255);
  box-shadow: 1px 1px 4px 3px rgb(5,62,255);
}